.section__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--headers-nav-text-color);
}

.uppercase-titles {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
